<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486467327820-92uhhvqk2ih4g9tdrqbqqu3vmf0qvua6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486467327820-92uhhvqk2ih4g9tdrqbqqu3vmf0qvua6</string>
	<key>API_KEY</key>
	<string>AIzaSyDT1rIT7HWQOShVuD9qAnipW8jhReamgNs</string>
	<key>GCM_SENDER_ID</key>
	<string>486467327820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mochi.Filhoops</string>
	<key>PROJECT_ID</key>
	<string>filhoops-3aff9</string>
	<key>STORAGE_BUCKET</key>
	<string>filhoops-3aff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:486467327820:ios:a1b282ce5c578f0a</string>
	<key>DATABASE_URL</key>
	<string>https://filhoops-3aff9.firebaseio.com</string>
</dict>
</plist>